/* LCARS UI Specific Styles */

/* Panel with sidebars */
.lcar-panel {
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 0;
}

.sidebar {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    color:black;
}

.sidebar.left {
    order: -1;
    padding-left: 10px;
}

.sidebar.right {
    order: 1;
    padding-right: 10px;
}

.block {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    cursor: pointer;
}

.sssblock {
    flex: 0.1;
}
.ssblock {
    flex: 0.21;
}
.sblock {
    flex: 0.43;
}
.mblock {
    flex: 1;
}

.lblock {
    flex: 2;
}

.sidebar.block {
    width: 170px;
}

.shim{
    height:6px;
}
/* Sidebar blocks */
.bl {
    border-bottom-left-radius: 60px;
    margin-bottom: -10px;
}
.br {
    border-bottom-right-radius: 60px;
    margin-bottom: -10px;
}
.tl {
    border-top-left-radius: 60px;
    margin-top: -10px;
}
.tr {
    border-top-right-radius: 60px;
    margin-top: -10px;
}

.blp, .blpo {
    border-bottom-left-radius: 30px;
    margin-left: -30px;
    padding-left: 30px;
}
.brp, .brpo {
    border-bottom-right-radius: 30px;
    margin-right: -30px;
}
.tlp, .tlpo {
    border-top-left-radius: 30px;
    margin-left: -30px;
    padding-left: 60px;
}
.trp, .trpo {
    border-top-right-radius: 30px;
    margin-right:-30px;
}

.central {
    display:flex;
    flex-direction:column;
    flex:1;
    padding: 0px;
    z-index: 3;
    margin-left:-10px;
    margin-right:-10px;
    min-height: 0;
}
/* Panel content area */
.panel-content {
    flex: 1;
    padding: 20px;
    background-color : black;
    overflow: auto;
}

/* Bottom bar */
.bar {
    flex: 0;
    flex-direction: row;

    height: 60px;
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: 6px;
    padding: 0px;
    position: relative;
    z-index: 10;
    color:black;
}

.barbot {
    display:flex;
    align-items: flex-end;
}

.bartop {
    display:flex;
    align-items: flex-start;
}

/* Bar blocks */
.bar.block {
}


/* Color classes */
.purple { background-color: #9999cc; }
.tan { background-color: #ffcc99; }
.rust { background-color: #cc6666; }
.orange { background-color: #f39c12; }
.beige { background-color: #be9a86 }



.red { background-color: #e74c3c; }
.blue { background-color: #8fc0e0 }
.green { background-color: #2ecc71; }
.yellow { background-color: #eed071; }
.cyan { background-color: #46c6ad }
.pink { background-color: #e398bd }

@media (min-width: 1200px) and (min-aspect-ratio: 16/9) {
    body {
        flex-direction: row;
    }
}

@media (max-width: 680px) {
  .optional {
    display: none;
  }
}

@media (max-width: 600px) or (max-aspect-ratio: 2/3) {
  .optional2 {
    display: none;
  }
    .blpo {
        border-bottom-left-radius: 0px;
        margin-left: 0px;
        padding-left: 30px;
    }
    .brpo {
        border-bottom-right-radius: 0px;
        margin-right: 0px;
        padding-right: 30px;
    }
    .tlpo {
        border-top-left-radius: 0px;
        margin-left: 0px;
        padding-left: 30px;
    }
    .trpo {
        border-top-right-radius: 0px;
        margin-right: 0px;
        padding-right: 30px;
    }

}

@media (max-width: 400px) {
  .optional4 {
    display: none;
  }
}
